<div class="background">
<div class="tela">
<form>
    <div class="div-logo">
        <img src="../../assets/imagens/LOGO.png" width="300" height="290" alt="" class="logo">
    </div>
    <br>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label font">Usuário</label>
    <input v-model="email" type="email" class="form-control font" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label font">Senha</label>
    <input v-model="senha" type="password" class="form-control font" id="exampleInputPassword1" placeholder="Senha">
  </div>
    <button type="button" class="btn font" routerLink="../home/" >Entrar</button>

</form>
</div>
</div>

