<app-barra-navegacao></app-barra-navegacao>

<div class="font">
  <h2>Meus Agendamentos</h2>
  <br>
  <table class="table">
    <thead class="cabecalho">
      <tr>
        <th class="titulo-cabecalho" scope="col">Data</th>
        <th class="titulo-cabecalho" scope="col">Hora</th>
        <th class="titulo-cabecalho" scope="col">Serviço</th>
        <th class="titulo-cabecalho" scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>12/04/2023</td>
        <td>16:00</td>
        <td>Corte</td>
        <td>
          <button type="button" class="btn btn-icon"><i class='fas'>&#xf1f8;</i></button>
          <button type="button" class="btn btn-icon"><i class='fas'>&#xf044;</i></button>
        </td>
      </tr>
      <tr>
        <td>12/04/2023</td>
        <td>16:00</td>
        <td>Corte Barba</td>
        <td>
          <button type="button" class="btn btn-icon"><i class='fas'>&#xf1f8;</i></button>
          <button type="button" class="btn btn-icon"><i class='fas'>&#xf044;</i></button>
        </td>
      </tr>
      <tr>
        <td>12/04/2023</td>
        <td>16:00</td>
        <td>Corte</td>
        <td>
          <button type="button" class="btn btn-icon"><i class='fas'>&#xf1f8;</i></button>
          <button type="button" class="btn btn-icon"><i class='fas'>&#xf044;</i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
