<app-barra-navegacao></app-barra-navegacao>

<div class="div-agendar">
    <form>
      <div>
        <h2 class="font">Faça seu agendamento aqui</h2>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label font">Data</label>
        <input type="date" class="form-control font">
      </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label font">Horário</label>
          <select class="custom-select font" id="inputGroupSelect01">
            <option selected>Selecione o horário</option>
            <option value="1">09:00</option>
            <option value="2">10:00</option>
            <option value="3">11:00</option>
          </select>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label font">Selecione o serviço</label>
        <br>
        <div class="form-check form-check-inline check-centro">
          <input class="form-check-input font" type="checkbox" id="checkCorte" value="corte">
          <label class="form-check-label font" for="inlineCheckbox1">Corte de cabelo</label>
        </div>
        <br>
        <div class="form-check form-check-inline check-centro">
          <input class="form-check-input font" type="checkbox" id="checkBarba" value="barba">
          <label class="form-check-label font" for="inlineCheckbox2">Barba</label>
        </div>
      </div>
        <button type="button" class="btn font">Confirmar agendamento</button>

    </form>
    </div>


